# Tuple

tuple is similar to list and the only difference is tuples are immutable as in if a item is assigned to tuple then it cannot be modified

#Tuple creation

In [4]:
#empty tuple
tuple1 = ()

#tuple having integers
tuple1 = (1, 2, 3)
print(tuple1)

#tuple with mixed datatypes
tuple1= (1, 'raju', 28, 'abc')
print(tuple1)

#nested tuple
tuple1 = (1, (2, 3, 4), [1, 'raju', 28, 'abc'])
print(tuple1)

(1, 2, 3)
(1, 'raju', 28, 'abc')
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

In [5]:
#only parenthesis is not enough
tuple1= ('Dhoni')
type(tuple1)

str

In [7]:
#need a comma at the end to recognise it as tuple
t = ('Dhoni',)
type(t)

tuple

In [9]:
#parenthesis is optional i.e without paranthesis, just putting comma after a string is also considered as tuple
tuple1 = "Dhoni", 
print(type(tuple1))

print(tuple1)

<class 'tuple'>
('Dhoni',)

# Accessing Elements in tuple

In [10]:
tuple1 = ('virat', 'dhoni', 'rohit', 'surya', 'hardik')

print(tuple1[1])

dhoni

In [11]:
#negative index
print(tuple1[-1]) #print last element in a tuple

hardik

In [15]:
#nested tuple
tuple1 = ('Virat', ('dhoni', 'hardik', 'surya'))

print(tuple1[1])

('dhoni', 'hardik', 'surya')

In [16]:
print(tuple1[1][2])

surya

In [20]:
#Slicing
tuple1 = (1, 2, 3, 4, 5, 6)

print(tuple1[1:4])

#print elements from starting to 2nd last elements
print(tuple1[:-2])

#print elements from starting to end
print(tuple1[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

# Changing a tuple

In [21]:
#creating tuple
tuple1= (1, 2, 3, 4, [5, 6, 7])

tuple1[2] = 'x' #will get typeError

TypeError: 'tuple' object does not support item assignment

In [22]:
tuple1[4][2] = 'Gangababu'
print(tuple1)

(1, 2, 3, 4, [5, 6, 'Gangababu'])

In [23]:
#concatinating tuples

tuple1 = (1, 2, 3) + (4, 5, 6)
print(tuple1)

(1, 2, 3, 4, 5, 6)

In [24]:
#repeat the elements in a tuple for a given number of times using the * operator.
tuple1 = (('Gangababu', ) * 4)
print(tuple1)

('Gangababu', 'Gangababu', 'Gangababu', 'Gangababu')

# tuple Deletion

In [26]:
#we cannot change the elements in a tuple. 
# that also means we cannot delete or remove items from a tuple.

#delete entire tuple using del keyword
tuple1 = (1, 2, 3, 4, 5, 6)

#delete entire tuple
del tuple1

# tuple Count

In [27]:
tuple1 = (1, 2, 3, 1, 3, 3, 4, 1)

#get the frequency of particular element appears in a tuple
tuple1.count(1)

3

# tuple Index

In [28]:
tuple1 = (1, 2, 3, 1, 3, 3, 4, 1)

print(tuple1.index(3)) #return index of the first element is equal to 3

#print index of the 1

2

# tuple Memebership

In [29]:
#test if an item exists in a tuple or not, using the keyword in.
tuple1 = (1, 2, 3, 4, 5, 6)

print(1 in tuple1)

True

In [30]:
print(7 in tuple1)

False

# Built in Functions

# tuple Length

In [31]:
tuple1 = (1, 2, 3, 4, 5, 6)
print(len(tuple1))

6

# tuple Sort

In [33]:
tuple1 = (4, 5, 1, 2, 3)

new_tuple = sorted(tuple1)
print(new_tuple) #take elements in the tuple and return a new sorted list 
             #(does not sort the tuple itself).

[1, 2, 3, 4, 5]

In [36]:
#get the largest element in a tuple
tuple1 = (2, 5, 1, 6, 9)

print(max(tuple1))#get the smallest element in a tuple
print(min(tuple1))

9
1

In [37]:
#get the smallest element in a tuple
print(min(tuple1))

1

In [38]:
#get sum of elments in the tuple
print(sum(tuple1))

23