# Lists

Data Structure:
    

Data Structure can be defined as the group of data elements which provides an efficient way of storing and organising data( such as numbers, charecters or any other element) in a sequence.


1.   Lists are the most frequently used data structure in python.
2.   Lists can store any data types(string, integers, even lists)
3.   Items in lists are seperated by comma and enclosed in square brackets [ ]
4.   Each element in lists has index value assigned
5.   Lists are mutable  which means items can be modified once assigned

# List Creation

In [1]:
sampleList = [] #empty list

# list of strings
list1 = ['apple', 'banana', 'kiwi', 'orange'] 

#list of integers
list1= [1, 2, 3, 4] 

# list of lists
list3 = [[1, 2], [3, 4]] 

# list of multiple datatypes
list4 = [1, 'Gangababu', 24, 1.24] 

print(list4)

[1, 'Gangababu', 24, 1.24]

# Various methos of Lists

# List Length

In [4]:
#To find the length of list we use len()
list1 = ['apple', 'banana', 'kiwi', 'orange'] 

print(len(list1))

4

# SUM of List Items

In [1]:
list1 = [6,7,1,2,3,6] 

print(sum(list1))

25

# List Append

In [5]:
## append method will add an item at the end of the list
list1 = ['apple', 'banana', 'kiwi', 'orange'] 

list1.append('papaya') 

print(list1)

['apple', 'banana', 'kiwi', 'orange', 'papaya']

# List Insert

In [7]:
#syntax: lst.insert(x, y) 
# x, y says x is the index number and y is the item


list1 = ['apple', 'banana'] 

list1.insert(0,'papaya') ## papaya is inserted in 0th index pushing apple index to 1

print(list1)

['papaya', 'apple', 'banana']

# List Remove

In [8]:
#syntax: lst.remove(x)
#x says the item which has to be removed , In list first occurance will be removed if we have duplicates 

list1 = ['apple', 'banana', 'kiwi', 'orange','apple'] 

list1.remove('apple') 

print(list1)

['banana', 'kiwi', 'orange', 'apple']

# List Append & Extend

In [11]:
list1 = ['banana', 'kiwi', 'orange', 'apple']


list2 = ['papaya', 'dragon fruit']

#append function is used to append the item or list to the current list
list1.append(list2)

print(list1)

list1.append('Sapota')

print(list1)

['banana', 'kiwi', 'orange', 'apple', ['papaya', 'dragon fruit']]
['banana', 'kiwi', 'orange', 'apple', ['papaya', 'dragon fruit'], 'Sapota']

In [13]:
list1 = ['banana', 'kiwi', 'orange', 'apple']


list2 = ['papaya', 'dragon fruit']

#extend function does adds the only items of second list at the end of the list 1
list1.extend(list2)

print(list1)

['banana', 'kiwi', 'orange', 'apple', 'papaya', 'dragon fruit']

# List Delete

In [14]:
#del to remove item based on index position

list1 = ['banana', 'kiwi', 'orange', 'apple','papaya']

del list1[1]
print(list1)

#or we can use pop() method
a = list1.pop(1)
print(a)

print(list1)

['banana', 'orange', 'apple', 'papaya']
orange
['banana', 'apple', 'papaya']

In [15]:

#remove an item from list based on item
list1 = ['banana', 'orange', 'apple', 'papaya']

#remove an item from list
list1.remove('orange')

print(list1)

['banana', 'apple', 'papaya']

# List related keywords in Python

In [16]:
#keyword 'in' is used to test if an item is in a list
list1 = ['banana', 'orange', 'apple', 'papaya']

if 'orange' in list1:
    print('Yeah Orange exists in the list1')

#keyword 'not' can combined with 'in'
if 'Sapota' not in list1:
    print('Sapota doesnt exists in list1')

Yeah Orange exists in the list1
Sapota doesnt exists in list1

# List Reverse

In [18]:
#reverse is reverses the entire list items
list1 = ['banana', 'orange', 'apple', 'papaya']

list1.reverse()

print(list1)

['papaya', 'apple', 'orange', 'banana']

# List Sorting

sorted(list) is the method that easily sort the list <br>




**Sorted(input list)**

**inputs** :list <br>
**output** :sorted list




original list is unchanged 


The sorted() optional argument reverse=True, e.g. sorted(list, reverse=True), 
makes it sort backwards.

In [19]:
#create a list with numbers
numbers = [3, 1, 6, 2, 8]

sorted_lst = sorted(numbers)


print("Sorted list :", sorted_lst)

#original list remain unchanged
print("Original list: ", numbers)

Sorted list : [1, 2, 3, 6, 8]
Original list:  [3, 1, 6, 2, 8]

In [20]:
#print a list in reverse sorted order
print("Reverse sorted list :", sorted(numbers, reverse=True))

#orginal list remain unchanged
print("Original list :",  numbers)

Reverse sorted list : [8, 6, 3, 2, 1]
Original list : [3, 1, 6, 2, 8]

In [21]:
lst = [1, 20, 5, 5, 4.2]

#sort the list and stored in itself
lst.sort()

# add element 'a' to the list to show an error

print("Sorted list: ", lst)

Sorted list:  [1, 4.2, 5, 5, 20]

In [23]:
# sort list with element of different datatypes doesnot works
lst = [1, 20, 'b', 5, 'a']
print(lst.sort())

TypeError: ignored

# converting String to List using split method

In [42]:
string_val="Welcome to Lists"
converted_to_list=string_val.split(' ')
print(converted_to_list)

string_val="Orange_Papaya_Lemon"
converted_to_list=string_val.split('_')
print(converted_to_list)

['Welcome', 'to', 'Lists']
['Orange', 'Papaya', 'Lemon']

# List Having Multiple References

In [ ]:
lst = [1, 2, 3, 4, 5]
abc = lst
abc.append(6)

#print original list
print("Original list: ", lst)

Original list:  [1, 2, 3, 4, 5, 6]

# List Indexing

Each item in the list has an assigned index value starting from 0.

Accessing elements in a list is called indexing.

In [35]:
lst = [1, 2, 3, 4]
print(lst[1]) #print second element

#print last element using negative index
print(lst[-2])

2
3

# List Slicing

Accessing parts of segments is called slicing. 

The key point to remember is that the :end value represents the first value that 
is not in the selected slice.

In [26]:
numbers = [10, 20, 30, 40, 50,60,70,80]

#print all numbers
print(numbers[:]) 

#print from index 0 to index 3
print(numbers[0:4])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]

In [ ]:
print (numbers)
#print alternate elements in a list
print(numbers[::2])


#print elemnts start from 0 through rest of the list
print(numbers[2::2])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 30, 50, 70]
[30, 50, 70]

# List extend using "+"

In [24]:
lst1 = [1, 2, 3, 4]
lst2 = ['rohit', 'virat', 'dhoni', 'surya']
new_lst = lst1 + lst2

print(new_lst)

[1, 2, 3, 4, 'rohit', 'virat', 'dhoni', 'surya']

# List Count

In [25]:
numbers = [1, 2, 3, 1, 3, 4, 2, 5]

#frequency of 1 in a list
print(numbers.count(1))

#frequency of 3 in a list
print(numbers.count(3))

2
2

# List Looping

In [ ]:
#loop through a list

lst = ['one', 'two', 'three', 'four']

for ele in lst:
    print(ele)

one
two
three
four

# List Comprehensions

List comprehensions provide a concise way to create lists. 

Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [ ]:
# without list comprehension
squares = []
for i in range(10):
    squares.append(i**2)   #list append
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#using list comprehension
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#example

lst = [-10, -20, 10, 20, 50]

#create a new list with values doubled
new_lst = [i*2 for i in lst]
print(new_lst)

#filter the list to exclude negative numbers
new_lst = [i for i in lst if i >= 0]
print(new_lst)


#create a list of tuples like (number, square_of_number)
new_lst = [(i, i**2) for i in range(10)]
print(new_lst)

[-20, -40, 20, 40, 100]
[10, 20, 50]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

# Nested List Comprehensions

In [ ]:
#let's suppose we have a matrix

matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

#transpose of a matrix without list comprehension
transposed = []
for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)

print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [ ]:
#with list comprehension
transposed = [[row[i] for row in matrix] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]