# python Variables

A variable used to store some data (value) in a location in memory .

The rules for writing a variable name  is similar to identifiers.
variables are given unique names to differentiate between different memory locations. 
In python we dont have to declare any data type of a variable like int,string, float etc and if we simply assign a value to a variable then it will exist

# Variable Assignments

In [1]:
#We use the assignment operator (=) to assign values to a variable

x = 100
y = 125.78
z = "Python for ML"

# Multiple Assignments

In [5]:
# variables are seperated with commas and values also for mulyiple assignments
x,y,z = 100, 125.5, "Python for ML"

In [4]:
#assigning the same value to multiple variables at once
x = y = z = "Python for Datascience"

# Storage Locations

In [10]:
#Variable storage locations
a= 3

#id() prints address of variable a
print(id(a))

11126752

In [11]:
b = 3

print(id(b))               #print address of variable b

11126752

*Observation*:

x and y points to same *memory* location since value of a and b is 3

In [12]:
# changing the b value will differ storage location if you observe
b = 2
#print address of variable b
print(id(b))

11126720

# Data Types

In Python every value has a datatype. As everything is an object in Python programming, datatypes are considered as  classes and variables are instance (object) of these classes.

Here are the list of data types


1.   Numbers
2.   Boolean
3.   Strings
4.   List
5.   Tuple
6.   Dictionaries
7.   set

# Numbers

Any value that is numeric can be considered as python numbers and without decimal points is an integer , with decimal values is a float and with an imaginary values then complex.
They are defined as int, float and complex class in Python.

We can use the 
**type()** function to know the class of a variable or a value belongs to which class </br>
**the isinstance()** function to check if an object belongs to a particular class.

In [14]:
#implicitly set to integer
a = 5                               
print(a, " is of type", type(a))

5  is of type <class 'int'>

In [15]:
# when a decimal point is added then data type is changed to float
a = 2.5                            
print(a, " is of type", type(a))

2.5  is of type <class 'float'>

In [16]:
#data type is changed to complex number
a = 1 + 2j                          
print(a, " is complex number?") 
print(isinstance(1+2j, complex))

(1+2j)  is complex number?
True

# Boolean

 Boolean always represents  **True** or **False**

In [ ]:
a = True                          #a is a boolean type
print(type(a))

<type 'bool'>

# Python Strings

String is sequence of Unicode characters. 

We can use single quotes or double quotes to represent strings. 

Multi-line strings can be denoted using triple quotes, ''' or """.

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters. 

Strings can be indexed - often synonymously called subscripted as well. 

Similar to C, the first character of a string has the index 0.

In [17]:
s = "Python is a simple programming language"
print(s)

Python is a simple programming language

In [19]:
print(s[0])

P

In [22]:
s[-1]

'e'

In [23]:
#slicing
s[5:]

'n is a simple programming language'

# Python List

A list can be declared as, Items separated by commas are enclosed within brackets [ ].
Lists are ordered and mutable(means can change).
Lists allows duplicate values.
List items can be of different datatypes.
Lists are indexed and starts with index 0

In [25]:
#print 2nd index element
a = [1, 2, "python"]
print(a[2])

python

Lists are mutable, meaning, value of elements of a list can be changed.

In [26]:
a[1] ='Machine Learning'
print(a)

[1, 'Machine Learning', 'python']

# Python Tuple

Tuple is similar to lists but the only diffrence is tuples are immutable i.e tuple items cannot be changed

In [27]:
t = (100, 20.5, "Python")

In [29]:
print(t[2]) #extract particular element

Python

In [30]:
t[2] = 'python machine learning'

TypeError: ignored

# Python Set

Set is an unordered collection of items and  defined by values separated by comma inside braces { }. 
Set has Unique values i.e removes duplicates
Items in a set are not ordered.

In [34]:
a = {1, 2, 2,3, 4, 5} #here a has two 2's but set didnt considered duplicate elements
print(a)
print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

We can perform set operations like union, intersection on two sets
and set also doesnt support indexing
> Indented block

In [36]:
# below example shows UNION operation using set
x = {"pandas", "numpy", "scikitlearn"}
y = {"pyspark", "pandas", "bigquery"}

z = x.union(y)

print(z)

{'numpy', 'pyspark', 'bigquery', 'pandas', 'scikitlearn'}

In [41]:
# below example shows MINUS(x-y) operation using set
x = {"pandas", "numpy", "scikitlearn"}
y = {"pyspark", "pandas", "bigquery"}

z = x.difference(y)
print(z)

{'numpy', 'scikitlearn'}

In [40]:
# below example shows INTERSECTION operation using set
x = {"pandas", "numpy", "scikitlearn"}
y = {"pyspark", "pandas", "bigquery"}

z = y.difference(x)

print(z)

{'pyspark', 'bigquery'}

In [ ]:
print(s[1]) 
#we can't print particular element in set because 
            #it's unorder collections of items

TypeError: 'set' object does not support indexing

# Python Dictionary

Dictionary is an unordered collection of key-value pairs.
In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [43]:
x = {'a': "apple", 'b': "ball"}
print(x['a'])

apple

# Conversion between Datatypes

We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [ ]:
float(5)     #convert interger to float using float() method

5.0

In [ ]:
int(100.5)   #convert float to integer using int() method

100

In [ ]:
str(20)      #convert integer to stringS

'20'

Conversion to and from string must contain compatible values.

In [50]:
int('p7')

ValueError: ignored

In [49]:
user = "Gangababu"
day = 1


print("Congratulations, " + user + "! You just started " + str(day) + "st day of python programming" )
#remove str and gives error

Congratulations, Gangababu! You just started 1st day of python programming

We can convert one sequence to other

In [46]:
a = [10, 20, 30]

print(type(a))      #type of a is list 

s = set(a)          #convert list to set using set() method

print(type(s))      #now type of s is set

<class 'list'>
<class 'set'>

In [45]:
set("Hello")       #convert String to set using set() method

{'H', 'e', 'l', 'o'}